* {
  font-family: "Roboto Mono", monospace;
}

body {
  font-family: "Roboto Mono", monospace;
  padding: 20px 20px 60px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
}

.columnChart {
  float: left;
  width: 80%;
}

.columnSummary {
  text-align: right;
  float: left;
  width: 20%;
  padding-top: 50px;
}

.summaryCardOuter {
  padding: 30px;
  background-color: #e6e6e6;
  border-radius: 20px;
  width: fit-content;
  float: right;
}

.summaryCardInner {
  padding: 15px;
  width: fit-content;
  float: right;
  background-color: #cdcdcd;
  border-radius: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.main-container {
  background-color: #f4f4f4;
  border-radius: 50px;
  padding: 40px;
  width: 100%;
}

.topnav {
  overflow: hidden;
}

.topnav img {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: purple;
}

.menu-items {
  float: right;
  padding: 15px;
}

.client-header {
  float: left;
  padding-left: 3%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.changeBox {
  padding: 8px;
  background-color: #e6e6e6;
  border-radius: 10px;
  float: right;
  margin-top: -90px;
}

.add-client-btn {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
