[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
simplejson = "*"
itsdangerous = "==2.0.1"
migrate = "*"
faker = "*"
pdfkit = "*"
flask-bootstrap = "*"
flask-googlecharts = "*"
seaborn = "*"
pandas-market-calendars = "*"
flask-babelex = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.10"
